<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="MasterWizr" src="{{ "/assets/img/masterwizr.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MasterWizr </h3>
    <h4> Featured Skills</h4>

    <ul>
      <li>React - Frontend</li>
      <li>Node - Backend</li>
      <li>MongoDB - Database</li>
    </ul>

    <a class="project-link" href="https://masterwizr.com/" target="_blank">Information Site</a>
    <a class="project-link" href="https://accounts.wizrapps.com/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/explorer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Explorer Academy </h3>
    <h4> Featured Skills</h4>

    <ul>
    </ul>
    <li>HTML, CSS</li>
    <li>Wordpress</li>
    <a class="project-link" href="https://explorer.school/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="applyBpo" src="{{ "/assets/img/hqzen.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HQZEN </h3>
    <h4> Featured Skills</h4>
    <ul>
      <li>Vue js - Frontend</li>
      <li>Sileo/Python - Backend</li>   
    </ul>
  
    <a class="project-link" href="https://applybpo.com/" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="applyBpo" src="{{ "/assets/img/applybpo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ApplyBpo </h3>
    <h4> Featured Skills</h4>
    <ul>
      <li>Vue js - Frontend</li>
      <li>Sileo/Python - Backend</li>   
    </ul>
    <a class="project-link" href="https://hqzen.com/" target="_blank">Check it out</a>
  </div>
</div>