<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/uoj.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Uganda Orthopaedics Journal </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>HTML, CSS</p>
    <p>Wordpress</p>
    <a class="project-link" href="https://www.uoj.or.ug/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/landville.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Landville </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Angular - Frontend</p>
    <p>Django - Backend</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/iReporter.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> iReporter </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>React js - Frontend</p>
    <p>Flask/Python - Backend</p>
    <a class="project-link" href="https://ireporter-frontend-rhytah.herokuapp.com/">Check it out</a>
  </div>
</div>
